html,
body {
    margin: 10px;
    color: #000000;
    font-family: 'Yrsa', arial,serif;
    /*overflow:hidden;*/
    height:100%;
    font-size: 12px;
    line-height: 16px;
}

#overlay{
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top:  50px;
    margin-left:  300px;
    z-index: 99;
    position: fixed;
}

.hdr {
	align-items: left;
	justify-content: left;
	position:fixed;
	z-index: 80;
}
#left, #middle, #middle2{
	top: 150px;
	position:relative;
	/*overflow-y:scroll;*/
	-webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

#middle2 {
	margin-top: 70px;
	position:fixed;
	overflow:hidden;
	left:50px;
	font-weight: bold;
	z-index:99;
}

#left2 {
	position: fixed;
	margin-left: -10px;
	margin-top: 50px;
}

#left::-webkit-scrollbar,
#middle::-webkit-scrollbar,
#right::-webkit-scrollbar {
    display: none;
}

#right {
	top: 100px;
	right:20px;
	padding: 20px;
	background-color: #efefef;
	bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;

}
.workLinks {
	font-weight: bold;
	background-color: transparent;
}

a{
    text-decoration: none;
    color: black;
	cursor: pointer;

}
a:hover {
    text-decoration: line-through;
    color: black;
}

td {
	padding-right: 10px;
}

#cv {
	margin-top: 200px;
	margin-left: 200px;
	width:800px;
}

.title {
	font-size: 18px;
	font-weight: bold;
}
.yr {
	color: #AAAAAA;
}


#largeImgPanel {
    align-items: center;
    justify-content: center;
    visibility: hidden;
    position: fixed;
    z-index: 100;
    top: 5vh;
    left: 5vh;
    width: 80%;
    height:80%;
}

@media (max-width:650px)  {
	#middle {
		margin-left: 15%;
	}
	#middle2 {
		top:100px;
	}
	#overlay {
		margin-left:150px;
	}
	#left {
		margin-top: -50px;
	}
	#imgHdr {
		width: 250px;
	}
	#links {
		left:50px;
		top: 100px;
	}
	#cv {
		margin-left: 0;
	}
}

